__pycache__/
*__pycache__/*
.pytest_cache/
*.pyc
.vscode/
jpynb/
*.jpynb
*.ipynb
config.yaml
*.DS_Store
.DS_Store
_build/
.coverage
coverage.xml
.python-version
/venv/*
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/fetchmail_bot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
